h3 {
    color:black;
    font-family: "Times New Roman";
    font-size: 200%;
}
h4 {
    color:black;
    font-family: "Times New Roman";
    font-size: 150%;
}
.summarise {
    color:black;
    font-family: "Times New Roman";
    font-size: 100%;
    text-align: left;
}
.commentfield{
    margin-top:20px;
    width: 100%;

    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: deepskyblue;

    text-align: left;
}
.comment{
    width: 80%;

    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: deepskyblue;

    margin: 10px auto;
    text-align: left;
}
#rating {
    display:none;
    float:right;
    text-align: left;
    border:none;
}
#ratingButton {
    float:left;
    height: 25px;
    padding:0 20px;
}
#ratingBox{
    margin-bottom: 50px;
    margin-top: 10px;
}
.rate{
    height: 46px;
    padding:0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content:"★ ";
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
