/* Byta från grid-column till grid-template-area, smidigare för responsiv design */

body {
    height: 100vh;
    margin: 0;
}

@media screen and (min-width: 760px) {
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(auto, auto);
        margin: 0 auto;
    }
}

.global_container {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
}

.global_container_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 90px;
    max-width: 890px;
    margin: 0 auto;
}

.description_container {
    grid-column: 1 / 2;
}

#createNewAccountH1 {
    margin-top: 50px;
}

.reg_container {
    grid-column: 2 / 3;
    width: 400px;
}

.table_registration {
    border-collapse: collapse;
    float: left;
    width: 200px;
}

.table_registration th,
.table_registration td {
    text-align: left;
    padding: 3px;
}

.table_registration input {
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    padding: 5px 5px;
}

.table_registration .signup-button {
    margin-top: 20px;
    cursor: pointer;
}

.linkToTandC {
    float: left;
    font-size: 11px;
}

.linkToTandC a {
    text-decoration: none;
    cursor: pointer;
    color: #0059ff;
}

footer {
    grid-column: 1 / 3;
    width: 100vw;
    color: #111;
    width: 860px;
    margin: 0 auto;
}