h1{
    margin: 0;
    background-color: slategray;
    padding-top: 20px;
    text-align: center;
}
nav {
    background-color: darkslategray;
}
li a{
    float: left;
    text-align: center;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}
ul {
    height:50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;

}
