main {
    background-color: aliceblue;
    min-height: 500px;
    width: 100%;
}

html, body, head {
    padding: 0;
    margin: 0;
}

.mainContainer {
    max-width: 800px;
    min-width: 500px;
}

.col {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

